<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <table border="0px">
            <tr>
                <td style="padding: 0px" rowspan="2"><img src="~/Content/assets/img/LOGO00.png" alt="Logo " width="auto" height="17%"></td>
                <td style="padding: 0px 7px;"><a class="navbar-brand js-scroll-trigger" href="#page-top"><font size=3><strong>AGROULTRA</strong></font></a></td>
            </tr>
            <tr><td style="padding: 0px 7px;"><a class="navbar-brand a"><font size=1><strong>Soluciones para la cosecha</strong></font></a></td></tr>
        </table>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Quienes somos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Que hacemos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Como lo hacemos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contáctenos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/Home/inicio_sesion">Iniciar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row">
            <div class="col-lg-7 align-self-end">
                <div class="pre">
                    <img src="~/Content/assets/img/dispositivos.png" /alt ="Logo " width="100%" height="auto">
                </div>
            </div>
            <div class="col-lg-5">
                <br> <br> <br>
                <h3 class="text-uppercase text-white font-weight-bold">toda su información<br>en todo momento<br>en todos sus dispositivos</h3>
                <hr class="divider my-4" />
                <p class="text-white font-weight-light mb-5">Optimice su proceso de cosecha AHORA. Con AgroUltra vea en tiempo real los movimientos de su empresa, deje un registro exacto y ordenado, planifique con rapidez y mucho más. Contáctanos para agendar una cita.</p>
                <a class="btn btn-primary-green btn-xl js-scroll-trigger" href="#about">Conozca más</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="text-white mt-0">Quienes somos</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    Agroultra proporciona una plataforma para empresas agrícolas y fundos que facilita el
                    mantenimiento de registros. Es hora de hacer su vida más fácil.
                    Agroultra le ahorra tiempo, dinero y facilita la molestia de mantener registros agrícolas.
                    Todo mientras proporciona informes detallados, seguimiento de cultivos y campos.
                </p>
                <h3 class="text-white mt-0">Misión</h3>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    Ser un socio de su campo para ayudarlo a manejar eficientemente su cosecha.
                    Ofrecemos una herramienta que lo ayudarán a analizar, ejecutar y rastrear con confianza
                    sus procesos.
                </p>

                <h3 class="text-white mt-0">Visión</h3>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">
                    Lograr ser un apoyo no solo de registro sino además de
                    planificación, una ayuda en la toma de decisiones. Y por otra parte genera una mejor relación
                    entre el empleador y los empleados, pues el proceso se vuelve más transparente.
                </p>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-2 align-self-center">
                        <p class="text-white-50 mb-4">... pero en definitiva</p>
                    </div>
                    <div class="col-lg-3 align-self-center">
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Que hacemos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">Que hacemos</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-check-circle text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Control</h3>
                    <p class="text-muted mb-0">Es posible verificar los movimientos de la cosecha en tiempo real.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="text-primary mb-4">
                        <svg width="18%" height="auto" viewBox="0 0 16 22" class="bi bi-clipboard-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm-.354 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z" />
                        </svg>
                        <svg width="18%" height="auto" viewBox="0 0 16 22" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                        </svg>
                    </i>
                    <h3 class="h4 mb-2">Disminuye Errores</h3>
                    <p class="text-muted mb-0">Disminuye o elimina los errores en la manipulación y toma de datos de la cosecha.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="text-primary mb-4">
                        <svg width="18%" height="auto" viewBox="0 0 16 22" class="bi bi-gear-wide-connected" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z" />
                            <path fill-rule="evenodd" d="M7.375 8L4.602 4.302l.8-.6L8.25 7.5h4.748v1H8.25L5.4 12.298l-.8-.6L7.376 8z" />
                        </svg>
                    </i>
                    <h3 class="h4 mb-2">Integración</h3>
                    <p class="text-muted mb-0">Integración a cualquier tipo de cultivo y sistema de recolección.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-eye text-primary mb-4"></i>
                    <h3 class="h4 mb-2"><u>Transparencia</u></h3>
                    <p class="text-muted mb-0">Permite tener información clara y transparente con los cosechadores.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="text-primary mb-4">
                        <svg width="18%" height="auto" viewBox="0 0 16 22" class="bi bi-shield-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.443 1.991a60.17 60.17 0 0 0-2.725.802.454.454 0 0 0-.315.366C1.87 7.056 3.1 9.9 4.567 11.773c.736.94 1.533 1.636 2.197 2.093.333.228.626.394.857.5.116.053.21.089.282.11A.73.73 0 0 0 8 14.5c.007-.001.038-.005.097-.023.072-.022.166-.058.282-.111.23-.106.525-.272.857-.5a10.197 10.197 0 0 0 2.197-2.093C12.9 9.9 14.13 7.056 13.597 3.159a.454.454 0 0 0-.315-.366c-.626-.2-1.682-.526-2.725-.802C9.491 1.71 8.51 1.5 8 1.5c-.51 0-1.49.21-2.557.491zm-.256-.966C6.23.749 7.337.5 8 .5c.662 0 1.77.249 2.813.525a61.09 61.09 0 0 1 2.772.815c.528.168.926.623 1.003 1.184.573 4.197-.756 7.307-2.367 9.365a11.191 11.191 0 0 1-2.418 2.3 6.942 6.942 0 0 1-1.007.586c-.27.124-.558.225-.796.225s-.526-.101-.796-.225a6.908 6.908 0 0 1-1.007-.586 11.192 11.192 0 0 1-2.417-2.3C2.167 10.331.839 7.221 1.412 3.024A1.454 1.454 0 0 1 2.415 1.84a61.11 61.11 0 0 1 2.772-.815z" />
                            <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </i>
                    <h3 class="h4 mb-2"><u>Información Segura</u></h3>
                    <p class="text-muted mb-0">Información segura y con back-up en los servidores de Agroultra.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div style="padding: 0px 0px 15px 0px;">
                        <img src="~/Content/assets/img/agroultra-web.svg" width="19%" height="auto" />
                    </div>
                    <h3 class="h4 mb-2"><u>Agroultra Web</u></h3>
                    <p class="text-muted mb-0">Acceso y análisis de datos en tiempo real y desde cualquier parte del mundo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <h2 class="text-center mt-0">Como lo hacemos</h2>
        <hr class="divider my-4" />
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/1.svg">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/1.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Paso 1:<br>Validación<br></div>
                        <div class="project-name">Validación del cosechero a través de pulsera con chip.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/2.svg">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/2.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Paso 1:<br>Validación alternativa<br></div>
                        <div class="project-name">Validación del cosechero a través de una tarjeta con chip o un código QR.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/3.svg">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/3.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Paso 2:<br>Establecer jornada de trabajo<br></div>
                        <div class="project-name">
                            Se fija el área a cosechar, el rendimiento de esta junto con el rendimiento del
                            grupo de trabajo. Esta etapa se puede llevar acabo como parte de una planificación previa o bien al iniciar el día.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/4.svg">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/4.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Paso 3:<br>Pesaje<br></div>
                        <div class="project-name">
                            Una vez recogida una carga de frutos los cosecheros llevan estos al área de acopio en la
                            cual se pesa, y se asocia con el trabajador y la cosecha.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/5.svg">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/5.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Paso 4:<br>Traspaso de Datos<br></div>
                        <div class="project-name">
                            Los datos obtenidos se cargan a la base de datos de la plataforma. El sistema está pensado
                            para hacerlo en tiempo real (intranet), pero también contempla hacerlo de forma física si las circunstancias lo ameritan.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="~/Content/assets/img/portfolio/fullsize/6.svg">
                    <img class="img-fluid" src="~/Content/assets/img/portfolio/thumbnails/6.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Paso 5:<br>Uso de Datos<br></div>
                        <div class="project-name">
                            Con los datos recogidos se posible emitir; comprobantes de producción (para los cosecheros), reportes
                            generales periódicos (para la agrícola), además de todos los registros anteriormente guardados, los que se pueden cruzar
                            entre sí para generar información relevante para la toma de decisiones.
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Call to action-->
<section class="bg-green text-light">
    <div class="container text-center">
        <br><br>
        <h4 class="mb-4">No quedo suficientemente claro el proceso, vea esta demostración</h4><br>
        <video src="~/Content/assets/img/demostracion.mp4" controls width="560" height="315"></video>
        <br><br>
    </div><br><br>
</section><!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">¡Pongamonos en contacto!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">¿Listo para mejorar su proceso de cosecha con nosotros? ¡Llámenos o envíenos un correo y nos comunicaremos con usted lo antes posible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+56 9 8701 6735</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:agroultra.contacto@gmail.com">agroultra.contacto@gmail.com</a>
            </div>
        </div>
    </div>
</section>

