
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>

<br />
<p><a class="btn btn-default" href="/Home/inicio_sesion">Volver al Menu &raquo;</a></p>

<form action="/action_page.php">
    <img src="~/Content/img/usuarios.svg" alt="Control" style="width:70px; height:60px">
    <fieldset>
        <legend>Ingreso Usuario</legend>
        <table style="width:100%">
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            <tr>
                <td><input type="text" required></td>
                <td><input type="text" required></td>
                <td><input type="text" required></td>
            </tr>
            <tr>
                <th>Código</th>
                <th>Tipo</th>
                <th>Email</th>
            </tr>
            <tr>
                <td><input type="text" required></td>
                <td><input type="text" required></td>
                <td><input type="text" required></td>
            </tr>
            <tr>
                <th>Teléfono</th>
            </tr>
            <tr>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th>Datos Adicionales</th>
            </tr>
            <tr>
                <td><textarea name="mensaje"></textarea></td>
            </tr>
        </table>

        <p><a class="btn btn-default" onclick="alert('Usuario Registrado')" href="">Ingresar Usuario &raquo;</a></p>
    </fieldset>
</form>
@*<form action="/action_page.php">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="Ingresar Usuario">

    </form>*@